/*GENERAL*/
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.titulo{
  font-size: 5vmax;
  color: #d7d7d7  ;
  font-weight: 900;
  text-align: center;
}
.texto{
  margin-top: 2vmax;
  font-size: 2.5vmax;
  color: #d7d7d7; 
  line-height: 1.3;
  font-weight: 500;
  text-align: center;     
}
.pantalla {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorElementos{
  width: 85vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: flex-end;
}
.contenedorOscuro{
  height: 80%;
  width: 100%;
  background-color: #181818;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center
}
.contenedorContenido{
  margin: 5vmax;
}
.etiqueta{
  padding: 20px;
  margin-bottom: 5%;
  margin-right: 5%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8280f0;
}
.contenedorP {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.imagenHabilidad {
  margin-right: 10%; 
}

.contenedorLogo{
  height: 90%;
  width: 90%;
  background-color: #d7d7d7;
  display: flex;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
}
.logo{
  width: 70%;
  margin: 10px;
}
.habilidades{
  margin: auto 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
  gap: 5%;
}

.proyectos{
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

@media only screen and (max-width: 871px) {
  .contenedorElementos{
    align-items: center;
  }
  .imagenHabilidad{
    display: none;
  }
  .etiqueta{
    margin-right: 0%;
  }
  .contenedorP{
    height: 100%;
  }
}
